name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Spotless check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 17
      - uses: gradle/gradle-build-action@v3.5.0
      - name: spotless
        run: ./gradlew spotlessCheck

  api_check:
    name: API check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 17
      - uses: gradle/gradle-build-action@v3.5.0
      - name: API check
        run: ./gradlew apiCheck

  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 17
      - uses: gradle/gradle-build-action@v3.5.0
      - name: Run unit tests
        run: ./gradlew testDebugUnitTest --stacktrace

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 17

      - uses: gradle/gradle-build-action@v3.5.0
      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: |
          ./gradlew --scan --stacktrace \
              assemble -x :benchmark:pixel6api31Setup -x :benchmark:pixel6api31NonMinifiedReleaseAndroidTest -x :benchmark:collectNonMinifiedReleaseBaselineProfile